{% if site.data.skills %}
<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset">
        {% for item in site.data.skills %}
        <div class="item">
            <h3 class="level-title">{{item.title}}</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="{{item.level}}">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->
        {% endfor %}
    </div>
</section><!--//skills-section-->
{% endif %}